<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @ViewBag.Title @{
            if (!string.IsNullOrWhiteSpace(ViewBag.SiteMapMenu.ActionMenu.Name))
            {
                @Html.Raw(" - " + ViewBag.SiteMapMenu.ActionMenu.Name)
            }
        }
    </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Css", false)
</head>
<body>
    <div class="navbar navbar-default topheadnav">
        <div class="navbar-header">
            @Html.ActionLink("工地扬尘环境监控平台", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", style = "text-align: center;" })
            <span class="slogn">@ViewBag.CityName</span>
        </div>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right logoff-form" }))
        {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()">退出</a>
                </li>
            </ul>
        }
    </div>
    <div class="navbar-bottom">
        <div>
            <span>当前所在位置：</span><a href="/"><span class="glyphicon glyphicon-home"></span>首页</a>
            @{
                if (!string.IsNullOrWhiteSpace(ViewBag.SiteMapMenu.ControllerMenu.Name))
                {
                    <span> > @Html.Raw(ViewBag.SiteMapMenu.ControllerMenu.Name)</span>
                    if (!string.IsNullOrWhiteSpace(ViewBag.SiteMapMenu.ActionMenu.Name))
                    {
                        <span> > @Html.Raw(ViewBag.SiteMapMenu.ActionMenu.Name)</span>
                    }
                }
            }
        </div>
    </div>
    <div class="wapper">
        <div class="sidebar">
            <ul class="main-menu">
                <li>
                    <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
                    <span>查询导出</span>
                    <ul class="sub-menu">
                        <li>@Html.ActionLink("各工程当前情况", "ActualStatus", "Monitor", new {id = ""}, null)</li>
                        <li>@Html.ActionLink("各工程历史污染物变化情况", "HistoryChange", "Monitor")</li>
                        <li>@Html.ActionLink("按工期进行综合对比", "ScheduleCompare", "Monitor")</li>
                    </ul>
                </li>
                <li>
                    <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                    <span>统计分析</span>
                    <ul class="sub-menu">
                        <li>@Html.ActionLink("本区县污染物平均浓度报表", "AveragePolluteReport", "Analysis")</li>
                    </ul>
                </li>
                <li>
                    <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
                    <span>综合评价</span>
                    <ul class="sub-menu">
                        <li>@Html.ActionLink("本区县整体超标情况变化趋势", "AlarmChange", "Analysis")</li>
                    </ul>
                </li>
                @{
                    if (ViewBag.IsAdmin != null && ViewBag.IsAdmin)
                    {
                        <li>
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            <span>系统管理</span>
                            <ul class="sub-menu">
                                <li>@Html.ActionLink("新增监测点", "StatEdit", "Admin", new { id = "" }, null)</li>
                                <li>@Html.ActionLink("监测点管理", "StatManage", "Admin")</li>
                                <li>@Html.ActionLink("新增设备", "DevEdit", "Admin", new {id = ""}, null)</li>
                                <li>@Html.ActionLink("设备管理", "DevManage", "Admin")</li>
                                <li>@Html.ActionLink("新增用户", "UserEdit", "Admin", new {id = ""}, null)</li>
                                <li>@Html.ActionLink("用户管理", "UserManage", "Admin")</li>
                            </ul>
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="body-content">
            @RenderBody()
        </div>
    </div>
    <div class="footer">
        <footer>
            <p>&copy; @DateTime.Now.Year - 上海卫东信息科技有限公司。</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/base")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        var currentMenuItem = null;
        var activedMenuItem = null;
        var delayActive = null;
        var lastPoint = null;
        var IsDelay = false;
        $(function () {
            $('.sidebar > ul > li').on('mouseenter mouseleave', function (e) {
                if (e.type === 'mouseenter') {
                    currentMenuItem = $(this);
                } else {
                    currentMenuItem = null;
                    if (delayActive != null) {
                        clearTimeout(delayActive);
                        delayActive = null;
                    }
                }
            });
            $('.sidebar').on('mouseleave', function () {
                $('.sidebar > ul > li').find('ul').hide();
            });

            $('.sidebar').on('mouseenter mousemove', function (e) {
                if (e.type === 'mouseenter') {
                    lastPoint = {
                        x: e.clientX,
                        y: e.clientY
                    }
                } else {
                    if ((e.clientY - lastPoint.y) < 0) {
                        IsDelay = false;
                    } else {
                        IsDelay = (e.clientX - lastPoint.x) > 0 ? true : false;
                    }
                    lastPoint = {
                        x: e.clientX,
                        y: e.clientY
                    }
                    if (delayActive != null) {
                        clearTimeout(delayActive);
                        delayActive = null;
                    }
                    if (IsDelay) {
                        delayActive = setTimeout("activeChildMenu()", 1500);
                    } else {
                        activeChildMenu();
                    }
                }

            });
        });

        function activeChildMenu() {
            $('.sidebar > ul > li').find('ul').hide();
            $(currentMenuItem).addClass('hover');
            $(currentMenuItem).find('ul').show();
            activedMenuItem = currentMenuItem;
        }
    </script>
</body>
</html>
