<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/favicon.ico" />
    <!--[if lte IE 6]>
    <!-- bsie css 补丁文件 -->
    @*<link rel="stylesheet" type="text/css" href="~/Content/bootstrap/bootstrap-ie6.css">*@

    <!-- bsie 额外的 css 补丁文件 -->
    @*<link rel="stylesheet" type="text/css" href="~/Content/bootstrap/ie.css">*@
    <![endif]-->
    <title>
        @ViewBag.Title @{
            if (!string.IsNullOrWhiteSpace(ViewBag.SiteMapMenu.ActionMenu.Name))
            {
                @Html.Raw(" - " + ViewBag.SiteMapMenu.ActionMenu.Name)
            }
        }
    </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Css", false)
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="~/Scripts/Utility/jquery.unobtrusive-ajax.min.js"></script>
    @Scripts.Render("~/bundles/base")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/Utility/Layout.js"></script>
    <script type="text/javascript">
        function Exit(){
            if (confirm("您确定要退出本系统么？")) {
                window.location.href = "Login";
            }
            else {
                return false;
            }
        }
    </script>
</head>
<body>
    <div class="navbar navbar-default topheadnav">
        <div class="navbar-header">
            @Html.ActionLink("工地扬尘环境监控平台", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", style = "text-align: center;" })
            <span class="slogn">@ViewBag.CityName</span>
        </div>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right logoff-form" }))
        {
            @Html.AntiForgeryToken()
            <ul class="nav navbar-nav navbar-right">
                <li class="alarmBtn">
                    <div class="btn-group btn-default" style="background-color: transparent; -webkit-box-shadow: none; box-shadow: none;">
                        <button class="btn btn-default dropdown-toggle" type="button" id="viewalrmdetails"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="border-radius: 0; background-color: transparent; color: #fff0f5; border: none; -webkit-box-shadow: none; box-shadow: none; height: 50px;">
                            <span id="alarmMark">超标报警</span>
                            <span id="alarmCount" class="badge">0</span>
                        </button>
                        <ul id="alarmDetails" class="dropdown-menu" aria-labelledby="viewalrmdetails" style="left: 0; width: 180px;">
                            <li style="padding: 8px; font-size: 12px; border-bottom: 3px solid #e7e7e7; text-align: left;">
                                <span style="color: #10721C"><a href="/Analysis/AlarmDetails">查看详情</a></span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()" onclick=" return Exit()">退出</a>
                </li>
            </ul>
        }
    </div>
    <div class="navbar-bottom">
        <div>
            <span>当前所在位置：</span><a href="/"><span class="glyphicon glyphicon-home"></span>首页</a>
            @{
                if (!string.IsNullOrWhiteSpace(ViewBag.SiteMapMenu.ControllerMenu.Name))
                {
                    <span> > @Html.Raw(ViewBag.SiteMapMenu.ControllerMenu.Name)</span>
                    if (!string.IsNullOrWhiteSpace(ViewBag.SiteMapMenu.ActionMenu.Name))
                    {
                        <span> > @Html.Raw(ViewBag.SiteMapMenu.ActionMenu.Name)</span>
                    }
                }
            }
        </div>
    </div>
    <div class="wapper">
        <div class="sidebar">
            <ul class="main-menu">
                <li>
                    <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
                    <span>查询导出</span>
                    <ul class="sub-menu">
                        <li>@Html.ActionLink("各工程当前情况", "ActualStatus", "Monitor", new { id = "" }, null)</li>
                        <li>@Html.ActionLink("各工程历史污染物变化情况", "HistoryChange", "Monitor")</li>
                        <li>@Html.ActionLink("按工期进行综合对比", "ScheduleCompare", "Monitor")</li>
                        <li>@Html.ActionLink("历史数据表格导出", "DataExport", "Monitor")</li>
                    </ul>
                </li>
                <li>
                    <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                    <span>统计分析</span>
                    <ul class="sub-menu">
                        <li>@Html.ActionLink("本区县污染物平均浓度报表", "AveragePolluteReport", "Analysis")</li>
                        <li>@Html.ActionLink("统计数据报表", "PutianExport", "Export")</li>
                    </ul>
                </li>
                <li>
                    <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
                    <span>综合评价</span>
                    <ul class="sub-menu">
                        <li>@Html.ActionLink("本区县整体超标情况变化趋势", "AlarmChange", "Analysis")</li>
                        <li>@Html.ActionLink("查看现场照片", "StatPictures", "Analysis")</li>
                    </ul>
                </li>
                @{
                    if (ViewBag.IsAdmin != null && ViewBag.IsAdmin)
                    {
                        <li>
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            <span>系统管理</span>
                            <ul class="sub-menu">
                                <li>@Html.ActionLink("新增监测点", "StatEdit", "Admin", new { id = "" }, null)</li>
                                <li>@Html.ActionLink("监测点管理", "StatManage", "Admin")</li>
                                <li>@Html.ActionLink("新增设备", "DevEdit", "Admin", new { id = "" }, null)</li>
                                <li>@Html.ActionLink("设备管理", "DevManage", "Admin")</li>
                                <li>@Html.ActionLink("设备测试", "DeviceRecent", "Admin")</li>
                                <li>@Html.ActionLink("新增用户", "UserEdit", "Admin", new { id = "" }, null)</li>
                                <li>@Html.ActionLink("用户管理", "UserManage", "Admin")</li>
                                <li>@Html.ActionLink("新增摄像头", "Camera", "Admin", new { id = "" }, null)</li>
                                <li>@Html.ActionLink("管理摄像头", "CameraManage", "Admin")</li>
                                <li>@Html.ActionLink("联通平台工程管理", "UniComProjectManage", "PlatformRegister")</li>
                                <li>@Html.ActionLink("联通平台设备管理", "UniComDeviceManage", "PlatformRegister")</li>
                            </ul>
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="body-content">
            @RenderBody()
        </div>
    </div>
    <div class="footer">
        <footer>
            <p>&copy; @DateTime.Now.Year - 上海卫东信息科技有限公司。</p>
        </footer>
    </div>
    <div id="customerModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header"></div>
                <div class="modal-body"></div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
