<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-default topheadnav">
        <div class="navbar-header">
            @Html.ActionLink("环保监控平台", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
    </div>
<div class="navbar-bottom">
    <div>
        <span>当前所在位置：</span><a href="/"><span class="glyphicon glyphicon-home"></span>首页</a>
    </div>
</div>
    <div class="wapper">
        <div class="sidebar">
            <ul>
                <li>
                    <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                    统计分析
                </li>
                <li>
                    <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
                    查询导出
                </li>
                <li>
                    <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
                    综合评价
                </li>
            </ul>
        </div>
        <div class="body-content">
            @RenderBody()
        </div>
    </div>
    <div class="footer">
        <footer>
            <p>&copy; @DateTime.Now.Year - 上海卫东信息科技有限公司。保留所有权利。</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
