<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="/Content/Page/Login.css" rel="stylesheet" />
</head>
<body>
    <section class="login-form">
        <div class="container" style="display: flex;">
            @RenderBody()
        </div>
    </section>
    <div>
        <p style="text-align: center; margin-top: 10px;">
            Copyright © 2015 上海卫东信息科技有限公司版权所有。保留所有权利。
        </p>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="/Scripts/Page/Login.js"></script>
</body>
</html>