@using SHEP_Platform.Models.Monitor
@{
    ViewBag.Title = "查询导出";
}

<div style="display: flex;">
    <div id="divCharts" style="height: 600px; border: 1px solid #e7e7e7; margin-right: 20px;">
        <div id="itemTitle" style="height: 50px;">
            <h1 style="text-align: center;"></h1>
        </div>
        <div id="divGauge" style="height: 240px; display: flex;">
            <div id="tpGauge" style="width: 240px; height: 240px; margin-left: 120px;">

            </div>
            <div id="dbGauge" style="width: 240px; height: 240px; margin: 0 120px 0 120px;">

            </div>
        </div>
        <div id="divBar" style="height: 300px;">

        </div>
    </div>
    <div id="divTable" style="-moz-min-width: 300px; -ms-min-width: 300px; -o-min-width: 300px; -webkit-min-width: 300px; min-width: 300px; float: left;">
        <table class="table table-striped table-bordered table-hover">
            <colgroup>
                <col style="width: 75px;" />
                <col style="width: 75px;" />
                <col style="width: 75px;" />
                <col style="width: 75px;" />
            </colgroup>
            <thead>
                <tr><td colspan="4" style="text-align: center;">实时值显示</td></tr>
            </thead>
            <tbody>
                @{
                    foreach (KeyValuePair<object, StatHourInfo> stat in ViewBag.StatDict)
                    {
                        var tStat = stat.Key as T_Stats;
                        var hourInfo = stat.Value;
                        if (hourInfo == null)
                        {
                            continue;
                        }
                        //var info = hourInfo.Hour;
                        var current = hourInfo.Current;

                        if (tStat == null)
                        {
                            continue;
                        }

                        if (current != null)
                        {
                            <tr class="statName">
                                <td colspan="4">@Html.ActionLink(tStat.StatName, null, null, new { href = "javascript:load(" + @tStat.Id + ",'" + @tStat.StatName + "')" })</td>
                            </tr>
                            <tr>
                                <td>颗粒物</td>
                                @{
                                    var pm = ((current.TP)/1000);
                                    //if (tStat.Id == 8)
                                    //{
                                    //    pm = pm > 0.15 ? (pm - 0.15) : pm;
                                    //}
                                }
                                <td class="pm">@(pm.ToString("f2"))</td>
                                <td>噪音</td>
                                <td class="db">@current.DB.ToString("f2")</td>
                            </tr>
                            <tr>
                                <td>PM2.5(mg/m³)</td>
                                <td class="pm25">
                                    @{
                                        var pm25 = current.PM25 / 1000 ?? 0;
                                    }

                                    @pm25.ToString("f2")
                                </td>
                                <td>PM10(mg/m³)</td>
                                <td class="pm100">
                                    @{
                                        var pm100 = current.PM100 / 1000 ?? 0;
                                        //if (tStat.Id == 8)
                                        //{
                                        //    pm100 = pm100 > 0.15 ? (pm100 - 0.15) : pm100;
                                        //}
                                    }

                                    @pm100.ToString("f2")
                                </td>
                            </tr>
                            <tr>
                                <td>温度(℃)</td>
                                <td class="temp">
                                    @{
                                        var temp = current.Temperature;
                                        //if (tStat.Id == 8)
                                        //{
                                        //    temp = temp > 5 ? (temp - 5) : temp;
                                        //}
                                    }

                                    @temp.ToString("f2")
                                </td>
                                <td>湿度(%)</td>
                                <td class="humi">@current.Humidity.ToString("f2")</td>
                            </tr>
                            <tr>
                                <td>风速(m/s)</td>
                                <td class="windspeed">@current.WindSpeed.ToString("f2")</td>
                                <td>风向(°)</td>
                                <td class="winddir">@current.WindDirection.ToString("f2")</td>
                            </tr>

                                        }
                                        else
                                        {
                                            <tr class="statName">
                                                <td colspan="4">
                                                    @Html.ActionLink(tStat.StatName, null, null, new
                               {
                                   href = "javascript:load(" + @tStat.Id + ",'" + @tStat.StatName
                                                                                                          + "')"
                               })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>颗粒物</td>
                                                <td class="danger">暂无数据</td>
                                                <td>噪音</td>
                                                <td class="danger">暂无数据</td>
                                            </tr>
                                            <tr>
                                                <td>PM2.5(mg/m³)</td>
                                                <td class="danger">暂无数据</td>
                                                <td>PM10(mg/m³)</td>
                                                <td class="danger">暂无数据</td>
                                            </tr>
                                            <tr>
                                                <td>温度(℃)</td>
                                                <td class="danger">暂无数据</td>
                                                <td>湿度(%)</td>
                                                <td class="danger">暂无数据</td>
                                            </tr>
                                            <tr>
                                                <td>风速(m/s)</td>
                                                <td class="danger">暂无数据</td>
                                                <td>风向(°)</td>
                                                <td class="danger">暂无数据</td>
                                            </tr>
                                            }
                                        }
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="/Scripts/Utility/echarts.js"></script>
    <script type="text/javascript" src="/Scripts/Common/SetUpCharts.js"></script>
    <script type="text/javascript" src="/Scripts/Monitor/ActualStatus.js"></script>
    <script type="text/javascript">
        $(function() {
            load(@ViewBag.defaultId, '@ViewBag.defaultName');
        })
    </script>
}
