@using SHEP_Platform.Models.Monitor
@model DataExport
@{
    ViewBag.Title = "历史数据表格导出";
}

<div>
    <div>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="label120">选择统计范围：</label>
                <select class="form-control daterange">
                    <option value="LH">最近一小时</option>
                    <option value="LD">最近一天</option>
                    <option value="LW">最近一周</option>
                    <option value="LM">最近一月</option>
                    <option value="LY">最近一年</option>
                    <option value="CUS">指定时间</option>
                </select>
                <label class="label120">选择时间范围：</label>
                <div id="">
                    <div id="date-selecter" class="input-group">
                        <div class='input-group date' id='startDate'>
                            <input type='text' class="form-control" />
                            <span class="glyphicon glyphicon-calendar input-group-addon"></span>
                        </div>
                        <span style="margin-top: auto; margin-bottom: auto;"> - </span>
                        <div class='input-group date' id='endDate'>
                            <input type='text' class="form-control" />
                            <span class="glyphicon glyphicon-calendar input-group-addon"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="label120" style=" margin-top: 6.4px;">工地：</label>
                <select id="stat" style="width: 240px;" multiple="multiple">
                    <optgroup label="工地">
                        @{
                            foreach (var stat in Model.StatList)
                            {
                                <option value="@stat.Id">@stat.StatName</option>
                            }
                        }
                    </optgroup>
                </select>
                <label class="label120" style="margin-left: 20px; margin-top: 6.4px;">设备：</label>
                <select id="devs" style="width: 240px;" multiple="multiple">
                    <optgroup label="设备">
                        @{
                            foreach (var devse in Model.DevList)
                            {
                                <option value="@devse.Id">@devse.DevCode</option>
                            }
                        }
                    </optgroup>
                </select>
            </div>
            <input type="button" class="btn btn-success" value="查询" id="customQuery" />
        </form>
    </div>
    <hr />
</div>

@section css{
    @Styles.Render("~/Content/datetimepickercss")
    @Styles.Render("~/Content/select2-bootstrap")
    <style type="text/css">
        .form-group {
            display: flex;
        }

        .form-horizontal .form-group {
            margin-left: 0;
        }

        label {
            margin-top: auto;
            margin-bottom: auto;
        }

        #date-selecter {
            display: flex;
        }
    </style>
}

@section scripts{
    @Scripts.Render("~/bundles/datetimepicker")
    @Scripts.Render("~/bundles/select2")
    <script type="text/javascript" src="/Scripts/Monitor/DataExport.js"></script>
}