
@{
    ViewBag.Title = "查询导出";
}

<div>
    <div>
        <div>
            <p style="text-align: center;">选择统计范围：</p>
            <select class="form-control daterange" style="width: 100%;">
                <option value="LH">最近一小时</option>
                <option value="LD">最近一天</option>
                <option value="LW">最近一周</option>
                <option value="LM">最近一月</option>
                <option value="LY">最近一年</option>
                <option value="CUS">指定时间</option>
            </select>
            <div id="dateQuery">
                <div id="date-selecter" class="input-group">
                    <p style="text-align: center">开始时间</p>
                    <div class='input-group date' id='startDate'>
                        <input type='text' class="form-control" />
                        <span class="glyphicon glyphicon-calendar input-group-addon"></span>
                    </div>
                    <p style="text-align: center">结束时间</p>
                    <div class='input-group date' id='endDate'>
                        <input type='text' class="form-control" />
                        <span class="glyphicon glyphicon-calendar input-group-addon"></span>
                    </div>
                </div>
                <input type="button" class="btn btn-success" value="查询" id="customQuery" style="margin-top: 10px; width: 100%;"/>
            </div>
        </div>
        <hr />
        <div>
            <div id="tpChart"></div>
            <div id="dbChart"></div>
        </div>
    </div>
    <div id="divTable" style="margin: auto;">
        <table class="table table-striped table-bordered table-hover">
            <colgroup>
                <col style="width: 75px;" />
                <col style="width: 75px;" />
                <col style="width: 75px;" />
                <col style="width: 75px;" />
            </colgroup>
            <thead>
                <tr><td colspan="4" style="text-align: center;">近一小时均值</td></tr>
            </thead>
            <tbody>
                @{
                    foreach (KeyValuePair<object, object> stat in ViewBag.StatDict)
                    {
                        var tStat = stat.Key as T_Stats;
                        var info = stat.Value as T_ESHour;

                        if (tStat == null)
                        {
                            continue;
                        }

                        if (info != null)
                        {
                            <tr class="statName">
                                <td colspan="4">
                                    @Html.ActionLink(tStat.StatName, null, null, new
                               {
                                   href = "javascript:load(" + @tStat.Id + ")"
                               })
                                </td>
                            </tr>
                            <tr>
                                <td>颗粒物</td>
                                <td class="pm">@(((info.TP) / 1000).ToString("f2"))</td>
                                <td>噪音</td>
                                <td class="db">@info.DB.ToString("f2")</td>
                            </tr>
                        }
                        else
                        {
                            <tr class="statName">
                                <td colspan="4">
                                    @Html.ActionLink(tStat.StatName, null, null, new
                               {
                                   href = "javascript:load(" + @tStat.Id + ")"
                               })
                                </td>
                            </tr>
                            <tr>
                                <td>颗粒物</td>
                                <td class="danger">暂无数据</td>
                                <td>噪音</td>
                                <td class="danger">暂无数据</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@section css{
    @Styles.Render("~/Content/datetimepickercss")
    <style type="text/css">
        html > /**/ body #dateQuery {
            display: none;
        }

        html > /**/ body #date-selecter {
            margin-right: 20px;
        }

        html > /**/ body #tpChart {
            width: 800px;
            height: 300px;
        }

        html > /**/ body #dbChart {
            width: 800px;
            height: 300px;
        }
    </style>
}

@section scripts{
    @Scripts.Render("~/bundles/datetimepicker")
    <script type="text/javascript" src="/Scripts/Utility/echarts.js"></script>
    <script type="text/javascript" src="/Scripts/Common/SetUpCharts.js"></script>
    <script type="text/javascript" src="/Scripts/Monitor/HistoryChange.js"></script>
    <script type="text/javascript">
        curId = @ViewBag.defaultId;
    </script>
}