@{
    ViewBag.Title = "查询导出";
}

<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-table.css">

<div style="display: flex">
    <div style="margin-right: 50px;">
        <div>
            <form class="form-inline">
                <div class="form-group">
                    <label>选择统计范围：</label>
                    <select class="form-control daterange">
                        <option value="LH">最近一小时</option>
                        <option value="LD">最近一天</option>
                        <option value="LW">最近一周</option>
                        <option value="LM">最近一月</option>
                        <option value="LY">最近一年</option>
                        <option value="CUS">指定时间</option>
                    </select>
                    <div id="dateQuery">
                        <div id="date-selecter" class="input-group">
                            <div class='input-group date' id='startDate'>
                                <input type='text' class="form-control" />
                                <span class="glyphicon glyphicon-calendar input-group-addon"></span>
                            </div>
                            <span> - </span>
                            <div class='input-group date' id='endDate'>
                                <input type='text' class="form-control" />
                                <span class="glyphicon glyphicon-calendar input-group-addon"></span>
                            </div>
                        </div>
                        <input type="button" class="btn btn-success" value="查询" id="customQuery" />
                    </div>
                </div>
            </form>
        </div>
        <hr />
        <div style="position: relative;">
            <div style="width: 840px;">
                <div>
                    <h2 id="chartTitle" style="text-align: center; color: #1abc9c"></h2>
                </div>
                <div id="tpChart"></div>
                <div id="dbChart"></div>
            </div>
            <div id="divTable" style="-moz-min-width: 300px; -ms-min-width: 300px; -o-min-width: 300px; -webkit-min-width: 300px; min-width: 300px; position: absolute; top: 0; left: 860px;">
                @{
                    var table = Html.BootstrapTable(null, TablePaginationOption.server, new
                    {
                        id = "statList",
                        data_page_size = 10,
                        data_reset_offset = true,
                        data_url = "/Ajax/GetAllStats",
                        data_height = 560
                    });
                    var builder = table.Column("所有工地", "StatName")
                        .Apply(ColumnOption.formatter, "AllStatsFormatter")
                        .Apply(ColumnOption.events, "AllStatsEvents");
                }
                @(builder)
            </div>
        </div>
    </div>
</div>

@section css{
    @Styles.Render("~/Content/datetimepickercss")
    @Scripts.Render("~/bundles/bootstrap-table")
    <style type="text/css">
        html > /**/ body #dateQuery {
            display: none;
        }

        html > /**/ body #date-selecter {
            margin-right: 20px;
        }

        html > /**/ body #tpChart {
            width: 800px;
            height: 300px;
        }

        html > /**/ body #dbChart {
            width: 800px;
            height: 300px;
        }
    </style>
}

@section scripts{
    @Scripts.Render("~/bundles/datetimepicker")
    @Scripts.Render("~/bundles/bootstrap-table")
    <script type="text/javascript" src="/Scripts/Utility/echarts.js"></script>
    <script type="text/javascript" src="/Scripts/Common/SetUpCharts.js"></script>
    <script type="text/javascript" src="/Scripts/Monitor/HistoryChange.js"></script>
    <script type="text/javascript">
        window.AllStatsFormatter = function (index, row, element) {
            return [
                '<a class="stat" href="javascript:void(0)">' + row.StatName + '</a>'
            ].join('');
        }

        window.AllStatsEvents = {
            'click .stat': function (e, value, row) {
                load(row.Id, row.StatName, 1);
            }
        };

        $(function() {
            $('#statList').bootstrapTable();
        });
    </script>
}