@using SHEP_Platform.Models.Account
@model LoginViewModel
@{
    ViewBag.Title = "卫东环保系统登录";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-from-section" style="display: flex;">
    <div class="login-content">
        @using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", @Id = "loginform" }))
        {
            @Html.AntiForgeryToken()
            <div class="section-title">
                <h3>@ViewBag.LoginTitle</h3>
            </div>
            <span style="height: 2px; background-color: #FF9933; width: 100%; display: block;"></span>
            <div style="padding: 0 0 0 20px;">
                @Html.ValidationSummary(null, new { @class = "text-danger" })
            </div>
            <div class="textbox-wrap">
                <div class="input-group">
                    <span class="glyphicon glyphicon-user input-group-addon" aria-hidden="true"></span>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "请输入用户名" })
                </div>
            </div>
            <div class="textbox-wrap">
                <div class="input-group">
                    <span class="glyphicon glyphicon-lock input-group-addon" aria-hidden="true"></span>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "请输入密码" })
                </div>
            </div>
            <div class="login-form-action">
                <div class="checkbox-inline">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
                <button type="button" class="btn green-btn" onclick="EncrypSubmit();">
                    登陆&nbsp;
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="vertical-align: middle;"></span>
                </button>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Utility/sha.js"></script>
}