@using SHEP_Platform.Models.Admin
@model DevManageViewModel

@{
    ViewBag.Title = "系统管理";
}
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-table.css">
<div class="control-layer horizontal-group" style="display:flex;height:34px;line-height:34px;padding:1px; margin-bottom: 15px;">
    <span class="span60" style="margin: 0 15px;">监测点名称:</span>
    <input class="form-control" id="StatName" style="width:120px;"></>
    <span class="span60" style="margin: 0 15px;">设备名称:</span>
    <input class="form-control" id="DevCode" style="width:120px;"></>
    <span class="span60" style="margin: 0 15px;">设备NODEID：</span>
    <input class="form-control" id="NODEID" style="width:120px;"></>
    <input type="button" value="查询" id="research" class="btn btn-primary" style="margin: 0 20px;" />
</div>
<div>
    @{
        var table = Html.BootstrapTable(null, TablePaginationOption.server, new
        {
            id = "devmgrTable",
            data_page_size = 25,
            data_reset_offset = true,
            data_url = "/Admin/DevsTable",
            data_height = 600
        });
        var builder = table.Column("监测点名称", "StatName")
            .Column("设备ID", "Id")
            .Column("设备名称", "DevCode")
            .Column("设备NODEID", "NodeId")
            .Column("设备状态", "Status")
            .Column("操作")
            .Apply(ColumnOption.width, "120")
            .Apply(ColumnOption.formatter, "devMgrFormatter")
            .Apply(ColumnOption.events, "devMgrEvents");
    }
    @(builder)
</div>
@*@section scripts{
    @Scripts.Render("~/bundles/bootstrap-table")*@
@section css{
    @Styles.Render("~/Content/select2-bootstrap")
}
@section scripts{
    @Scripts.Render("~/bundles/bootstrap-table")
    @Scripts.Render("~/bundles/select2")
    <script type="text/javascript">
        window.devMgrFormatter = function (index, row, element) {
            return [
                '<a class="update" href="/Admin/DevEdit/' + row.Id + '" style="margin-right: 5px;"><span class="glyphicon glyphicon-edit">更新</span></a>',
                '<a class="delete" href="javascript:void(0)"><span class="glyphicon glyphicon-remove">删除</span></a>'
            ].join('');
        }

        window.devMgrEvents = {
            'click .delete': function (e, value, row) {
                if (confirm('确定删除该设备吗？')) {
                    $.get('/Admin/DevDelete/' + row.Id, null, function (ret) {
                        if (ret.msg === 'success') {
                            $('#' + id).remove();
                            msg.info('删除成功');
                        }
                    });
                }
            }
        };

        $(function () {
            //$('#devmgrTable').bootstrapTable();
            var searchlist = {
                StatName: $('#StatName').val(),
                DevCode: $('#DevCode').val(),
                NODEID: $('#NODEID').val()
            };
            $('#devmgrTable').bootstrapTable('refreshOptions', {
                url: '/Admin/DevsTable',
                queryParams: function (params) {
                    params.StatName = searchlist.StatName;
                    params.DevCode = searchlist.DevCode;
                    params.NODEID = searchlist.NODEID;
                    return params;
                }
            });
            $('#research').on('click', function () {
                searchList = {
                    StatName: $('#StatName').val(),
                    DevCode: $('#DevCode').val(),
                    NODEID: $('#NODEID').val()
                }
                $('#devmgrTable').bootstrapTable('refresh');
            });
        })
    </script>
}
