@using SHEP_Platform.Models.Admin
@model UserManageViewModel

@{
            ViewBag.Title = "系统管理";
}

<table class="table table-bordered table-hover">
    <colgroup style="width: 150px;"></colgroup>
    <colgroup style="width: 150px;"></colgroup>
    <colgroup style="width: 150px;"></colgroup>
    <colgroup style="width: 150px;"></colgroup>
    <colgroup style="width: 150px;"></colgroup>
    <colgroup style="width: 150px;"></colgroup>
    <colgroup style="width: 200px;"></colgroup>
    <thead>
        <tr>
            <td>用户名</td>
            <td>角色</td>
            <td>注册时间</td>
            <td>最后登陆时间</td>
            <td>所属区县</td>
            <td>状态</td>
            <td>操作</td>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var userse in Model.UserList)
            {
                <tr id="@userse.UserId">
                    <td>@userse.UserName</td>
                    <td>@userse.RoleName</td>
                    <td>@userse.RegTime</td>
                    <td>@userse.LastTime</td>
                    <td>@userse.CountryName</td>
                    <td>@userse.Status</td>
                    <td>
                        <a href="/Admin/UserEdit/@userse.UserId"><span class="glyphicon glyphicon-pencil"></span>更新</a><span> - </span>
                        @{
                            if (@userse.Status == "审核通过")
                            {
                                <a href="/Admin/Lock/@userse.UserId"><span class="glyphicon glyphicon-lock">锁定</span></a><span> - </span>
                            }
                            else
                            {
                                <a href="/Admin/UnLock/@userse.UserId"><span class="glyphicon glyphicon-tags">审核通过</span></a><span> - </span>
                            }
                        }
                        <a href="javascript:delConfirm('@userse.UserId')"><span class="glyphicon glyphicon-remove"></span>删除</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section scripts{
    <script type="text/javascript">
        var delConfirm = function (id) {
            if (confirm('确定删除该用户吗？')) {
                $.get('/Admin/UserDelete/' + id, null, function (ret) {
                    if (ret.msg === 'success') {
                        $('#' + id).remove();
                        msg.info('删除成功');
                    }
                });
            }
        };
    </script>
}
